:root {
    --secondery-color: #404bbf;
    --header-color: #434455;
    --accent-color: #4d5ae5;
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --background-origin: #f4f4fd;
    --primary-color: #ffffff;
    --portfolio-color: #2e2f42;
  }
  .body {
    font-family: var(--primary-font);
    color: var(--header-color);
    background-color: var(--primary-color);
  }
  .list {
    list-style: none;
  }
  .link {
    color: var(--portfolio-color);
    text-decoration: none;
  }
  /*HEADER*/
  .logo {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
  }
  .logo-studio {
    color: var(--portfolio-color);
  }
  .menu-link {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--portfolio-color);
  }
  .menu-link:hover,
  .menu-link:focus {
    color: var(--secondery-color);
    text-decoration: underline;
  }
  .header-adress {
    font-style: normal;
  }
  .menu-link-cotact {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-color);
  }
  .menu-link-cotact:hover,
  .menu-link-cotact:focus {
    color: var(--secondery-color);
    text-decoration: underline;
  }
  /* HERO */
  .hero {
    background: var(--portfolio-color);
    text-align: center;
  }
  .hero-text {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-color);
  }
  .hero-button {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    cursor: pointer;
    letter-spacing: 0.04em;
    color: var(--primary-color);
    background-color: var(--accent-color);
  }
  .hero-button:hover,
  .hero-button:focus {
    color: var(--primary-color);
    background-color: var(--secondery-color);
  }
  /* ABOUT US LIST WORKS */
  .main-about {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--portfolio-color);
  }
  .main-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--header-color);
  }
  .link-team {
    background-color: var(--primary-color);
    text-align: center;
  }
  .list-team {
    background-color: var(--primary-color);
  }
  
  /* SUBTITLE */
  .subtitle {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--portfolio-color);
  }
  .list-works {
    text-align: center;
  }
  .menu-team {
    background-color: var(--background-origin);
  }
  /* OUR TEAM */
  .name-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--portfolio-color);
  }
  .profession-team {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--header-color);
  }
  /* FOOTER */
  .footer {
    background-color: var(--portfolio-color);
  }
  .footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-origin);
  }
  .footer-logo-studio {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-origin);
  }
  /* NOT-VISIBLI */
  .not-visibli {
    visibility: hidden;
  }
  /* <!-- BUTTON PORTFOLIO --> */
  .portfolio-button {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    cursor: pointer;
    background-color: var(--background-origin);
  }
  .portfolio-button:hover,
  .portfolio-button:focus {
    color: var(--primary-color);
    background-color: var(--secondery-color);
  }
  /* <!-- LIST WORKS --> */
  .main-about {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--portfolio-color);
  }
  /* <!-- LIST WORKS --> */